@layer base {
  :root {
    --color-primary: #f1f1f1;
    --color-text: #111111;
    --color-accent: #000000;
    --color-content: #000000;
    --color-inverse-content: #ffffff;
    --color-constant: #000000;
  }
}

.theme_light {
  --color-primary: #f1f1f1;
  --color-text: #111111;
  --color-accent: #000000;
  --color-content: #000000;
  --color-inverse-content: #ffffff;
  --color-constant: #000000;
}

.theme_dark {
  --color-primary: #111111;
  --color-text: #f1f1f1;
  --color-accent: #f1f5f9;
  --color-content: #f1f5f9;
  --color-inverse-content: #000000;
  --color-constant: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-primary);
  color: var(--color-text);
}
