/* CSS File for the Hero Section's Styles */

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Tilt Warp', cursive;
}

.hero_content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 10%;
}

.greeting_text {
  font-size: 5rem;
  font-weight: 500;
}

.title_text {
  font-size: 2rem;
  font-weight: 300;
}

.title_text_span {
  color: var(--color-accent);
}

.title_text_caret {
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-accent);
  animation: caret_blink 1s infinite;
}

/* blinking animation */

@keyframes caret_blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero_nav {
  margin-top: 70px;
}

.hero_nav button {
  background-color: var(--color-accent);
  color: var(--color-fixed-white);
  padding: 12px;
  border: none;
  border-radius: 5rem;
  font-family: 'Tilt Warp', cursive;
  transition-duration: 300ms;
  cursor: pointer;
}

.hero_nav button:hover {
  transform: translateY(-4px);
}

/* Media Queries for taking care of different screen sizes */

@media screen and (max-width: 768px) {
  .hero_content {
    padding: 0 5%;
  }
  .greeting_text {
    font-size: 4rem;
  }
}
